@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

.d3-tip {
    line-height: 1;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 10px;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

.heading{
    font-family: 'Gothic A1', sans-serif !important;
    font-weight: 600 !important;
}

.my-svg{
  font-family: 'Gothic A1', sans-serif !important;
}