@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap');

.tick{
    font-family: 'Gothic A1', sans-serif;
 
}
.y-axis{
    font-size: 0.75rem;
    
}
.x-axis{
    font-size: 0.75rem;
    
}

.grid .tick{
    opacity: 0.10;
    stroke-dasharray: 5,5;
}

.grid .domain{
    stroke: none;
    stroke-opacity: 0;
    display: none;
}

.y-axis .domain{
    stroke: white;
    stroke-opacity: 0;
    display: none;
}

.x-axis .domain {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1.5px;
  }

.label{
    font-weight: 400;
    font-family: 'Gothic A1', sans-serif;

}

#fruitDropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.select-box{
    border-radius:3px;
    border:1px black;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    outline: none;
}

@media screen and (min-width: 900px) {
    .my-svg-agechart {
        transform: translate(10%);
    }
  }

  @media screen and (max-width: 900px) {
    .my-svg-agechart {
        transform: translate(10%);
    }
  }

.AgeChart{
    margin-top: 2%;
    margin-bottom: 2%;
}

.d3-tip {
    line-height: 1;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 10px;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }