.menuButton:hover {
    transform: rotate(90deg);
}

.ListItemIcon {
    transform: scale(1.5);
    margin-left: 15px;
    padding: 10px;
}

.faVirus {
    transform: scale(0.75);

}

.faPumpSoap {
    transform: scaleX(-1) rotate(5deg) scale(1.15) translateY(-2px);
    margin-left: 3px;

}