@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap');

.menuButton:hover {
    transform: rotate(90deg);
}

.ListItemIcon {
    transform: scale(1.25);
    margin-left: 5px !important;
    padding: 10px;
}


.icon{
    transform: rotate(90deg);
}

.drawerTitle{
    font-family: 'Gothic A1', sans-serif !important;
    font-weight: 600 !important;
}

.drawerTitle2{
    font-family: 'Gothic A1', sans-serif !important;
    font-weight: 600 !important;
    padding-top: 5%;
}

